*{
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    margin: 0;
    overflow: hidden;
}
.back-ground{
    
    background-image: url(../images/mixer-4197733_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: -30px;
    left: -30px;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    z-index: -1;
    filter: blur(0px);
}

.loading-text{
    font-size: 50px;
    color: rgb(247, 242, 246);
}