@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #f1fcfd;
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  margin: 2em;
}
.phone {
  position: relative;
  overflow: hidden;
  border: 3px solid #5090fe;
  border-radius: 15px;
  height: 600px;
  width: 340px;
}
.phone .content {
  opacity: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 70px);
  width: 100%;
  transition: opacity 0.4s;
}
.phone .content.show {
  opacity: 1;
}
.screen-text {
  text-align: center;
}
nav {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-top: -5px;
  width: 100%;
}
nav ul {
  background-color: white;
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 70px;
}
nav li {
  color: #5090fe;
  flex: 1;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}
nav li p {
  font-size: 14px;
  margin: 2px 0;
}
nav li:hover,
nav li:active {
  color: #275fc0;
}
#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.home-tabs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  flex: 1;
}
.tab {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 5px dimgray;
  height: 100px;
  width: 120px;
  max-width: 120px;
  margin: 12px;
  cursor: pointer;
}
.tab i {
  color: #5090fe;
  font-size: 30px;
}
#settings i {
  color: blue;
}
#help i {
  color: red;
}
