
*{
    box-sizing: border-box;
}

body{
    background-color: #1f1f1f;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1em 0;
    height: 100vh;
    overflow: hidden;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 400px;
}
.square{
    background-color: #313030;
    height: 15px;
    width: 15px;
    box-shadow: 0 1px 2px #0e0e0e;
    margin: 2px;
    transition: 2s ease;
}
.square:hover{
    transition-duration: 0s;
}
