*{
    box-sizing: border-box;
}

body{
    background-color: #a164df;
    color: #fff;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}
.btn{
    background-color: rebeccapurple;
    border-radius: 5px;
    border: none;
    color: white;
    margin: 6px;
    padding: 1em 2em;
    font-size: 1em;
    font-family: inherit ;
    cursor: pointer;
}
@media  (max-width: 800px) {
     .btn{
         display: flex;
         flex-direction: column;
         align-items: center;
         width: 100%;   
     }
}
