@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: blueviolet;
    font-family:'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}
.formbox{
   background-color: firebrick;
   width: 350px;
   height: 80px;
   border-radius: 8px;
   
}
input{
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    color: rgb(151, 82, 211);
    font-family: inherit;
    font-size: 17px;
    border: none;
    outline: none;
    margin-left: 12px;
    display: inline;
}
input :placeholder-shown{
    margin-left: 12px;
}
input:focus{
    border: none;
    outline: none;
}
.formbox i{
 position: relative;
 top: 30px;
 left: 30px;
 z-index: 40;
 font-size: 30px;
 color: rgb(151, 52, 52);
 margin-right: 18px;
}
#myPassword{
    position: relative;
    margin-right: 0.9375rem;
}
.show-passowrd{
    position: relative;
    margin-left: 1.5rem;
    cursor: pointer;
}
.show-passowrd .lock-open{
    margin-top: 1px !important;
    width: 26px;
    height: 25px !important;
    transition: all 0.3s ease;
}
.show-passowrd .lock-close{
    margin-top: 5px;
    margin-left: 3px;
    height: 18px;
    width: 25px;
}
.validator{
    margin-top: 20px;
    width: 350px;
    position: relative;
    height: auto;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 1px 1px 6px #eee;
    background-color: rgb(94, 27, 156);
    display: none;
}
.inner{
    background-color: rgb(31, 13, 80);
    padding: 40px 50px;
    border-radius: 5px;
    width: 250px;
    clip-path: circle(8% at 87.2% 49.2%);
    transition: all .25s ease-out;
    position: absolute;
    overflow: hidden;
}